@model UniCabinet.Core.Models.PaginationModel

@if (Model.TotalPages > 1)
{
    <nav aria-label="Page navigation" class="mt-4" id="paginationNav">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="javascript:void(0);" onclick="loadPage(@(Model.CurrentPage - 1))">
                    Предыдущая
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="javascript:void(0);" onclick="loadPage(@i)">@i</a>
                </li>
            }

            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="javascript:void(0);" onclick="loadPage(@(Model.CurrentPage + 1))">
                    Следующая
                </a>
            </li>
        </ul>
    </nav>
}
