@model List<UniCabinet.Core.Models.ViewModel.Lecture.LectureListVM>
@{
    ViewBag.Title = "Список лекций";
    var existingLecturesCount = Model.Count;
    var maxLectures = ViewBag.MaxLectures;
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary">Список лекций по дисциплине: @ViewBag.Discipline</h2>
    <button class="btn btn-primary"
    @(existingLecturesCount >= maxLectures ? "disabled" : "")
            onclick="openModal('/Lecture/LectureAddModal', 'lectureAddModal', @ViewBag.DisciplineDetaildId)">
        <i class="bi bi-plus-circle"></i> Добавить лекцию
    </button>
</div>

<table class="table table-striped table-hover">
    <thead class="table-light">
        <tr>
            <th>Номер лекции</th>
            <th>Дата</th>
            <th>Баллы</th>
            <th>Редактировать</th>
            <th>Посещаемость</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lecture in Model)
        {
            <tr>
                <td>@lecture.Name</td>
                <td>@lecture.Date.ToShortDateString()</td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="openModal('/Lecture/LectureEditModal', 'lectureEditModal', @lecture.Id)">
                        <i class="bi bi-pencil-square"></i> Редактировать
                    </button>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("LectureAttendance", "Lecture", new { lectureId = lecture.Id })">
                        <i class="bi bi-check-circle"></i> Посещаемость
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modalContainer"></div>
