@model UniCabinet.Core.Models.ViewModel.Teacher.GroupStudentsProgressPageVM

@{
    ViewData["Title"] = "Прогресс студентов по группе";
}

<h2>Список студентов и их общий прогресс</h2>

<div class="row mb-5">
    <div class="col-md-6">
        <h4 class="text-info">Общая информация</h4>
        <p><strong>Тип группы:</strong> @Model.TypeGroup</p>
        <p><strong>Курс:</strong> @Model.CourseNumber</p>
        <p><strong>Семестр:</strong> @Model.SemesterNumber</p>
    </div>
    <div class="col-md-6">
        <h4 class="text-info">Средние баллы</h4>
        <p><strong>Лекции:</strong> @Model.AvgLecturePoints.ToString("F1")</p>
        <p><strong>Практики:</strong> @Model.AvgPracticalPoints.ToString("F1")</p>
        <p><strong>Общий балл:</strong> @Model.AvgTotalPoints.ToString("F1")</p>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>Студент</th>
            <th>Общие баллы</th>
            <th>Детали</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentsProgress)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.TotalPoints</td>
                <td>
                    <a class="btn btn-link"
                       asp-controller="Teacher"
                       asp-action="StudentDetail"
                       asp-route-studentId="@item.StudentId"
                       asp-route-disciplineId="@ViewBag.DisciplineId"
                       asp-route-groupId="@ViewBag.GroupId">
                        Открыть подробности
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
